<div class="row">
    <div class="col-md-12">
        <!-- Table for viewing all user accounts -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Role</th>
                        <th>Faculty</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{this.userName}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.fullName}}</td>
                        <td>{{this.roleId.name}}</td> 
                        <td>{{this.facultyId.name}}</td>

                        <td>
                            <a href="./{{this._id}}/edit" class="btn btn-sm btn-primary mr-2">Edit</a>
                            <form action="./{{this._id}}/delete" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
