<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Edit Submission</h2>
                </div>
                <div class="card-body">
                    <form action="/coordinator/submission/{{submission._id}}/edit" method="POST">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <span class="form-control">{{submission.title}}</span>

                        </div>

                        <div class="form-group">
                            <label>Image:</label>
                            <!-- Display image from imagePath -->
                            <img src="{{viewImageLink}}" class="img-fluid" alt="Submission Image">
                        </div>
                        <div class="form-group">
                            <label>Doc:</label>
                            <a href="{{viewDocLink}}" target="_blank">View Document</a>
                        </div>

                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <!-- Replace input with textarea -->
                            <textarea class="form-control" id="comment" name="comment" maxlength="255"
                                required>{{submission.comment}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select class="form-control" id="status" name="status" required>
                                <option value="Submitted" {{#ifEquals submission.status "Submitted"
                                    }}selected{{/ifEquals}}>Submitted</option>
                                <option value="Rejected" {{#ifEquals submission.status "Rejected"
                                    }}selected{{/ifEquals}}>Rejected</option>
                                <option value="Approved" {{#ifEquals submission.status "Approved"
                                    }}selected{{/ifEquals}}>Approved</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Update Submission</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>